.language-buttons{
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media (max-width: 660px) {
    .language-buttons{
        width: 400px;
    }
}