.last-pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.last-pokemon>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;
}



.last-pokemon>button{

}